---
import { marked } from "marked";
const { imageSrc, imageAlt, title, content } = Astro.props;
const parsedContent = content ? marked(content) : "";
---

<section class="image-text-section">
  <div class="image-container h-full w-1/2 bg-matouAccentFour p-5">
    <img src={imageSrc} alt={imageAlt} />
  </div>
  <div class="text-content h-full w-1/2 bg-matouPrimaryTwo p-5">
    <h2 class="font-bold text-white">{title}</h2>
    <div set:html={parsedContent} />
  </div>
</section>

<style>
  .image-text-section {
    display: flex;
    align-items: center;
    height: 20vh;
  }
  .image-text-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .image-text-section .text-content {
    max-width: 50%;
  }
</style>
