/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/

body {
    background: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #242529;
    text-align: center;
    font-size: 12px;
}

img {
    max-width: 90%;
}

header {
    padding: 80px 0;
    margin: 0 0 40px;
    background: #eee;
}
header img {
}

main {
    margin: 40px 0;
}
main p {
    color: #5a5c63;
}
main h2 {
    display: block;
    padding: 40px 0 0;
    margin: 40px 0 0;
    font-size: 1.75em;
}
footer {
    margin: 80px 0 0;
    padding: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
}
.footer__menu-container {
    display: flex;
    justify-content: center;
    padding: 1rem;

    a {
        margin: 0 1rem;
        color: #4338ca;
    }
}

/* --- job page --- */
main.job-page {
    --paddingLayout: calc(calc(100% - 66rem) / 2);
    padding-left: max(var(--paddingLayout), 2.25rem);
    padding-right: max(var(--paddingLayout), 2.25rem);
    text-align: left;
    line-height: 1.375;
    h1,
    h2,
    h3 {
        font-weight: bold;
    }
    h2,
    h3,
    p,
    li {
        color: #242529;
    }
    h1,
    a {
        color: #02588d;
    }
    h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    h2 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
        font-size: 1.5rem;
    }
    h3 {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        padding: 0;
        font-size: 1.25rem;
    }
    h2 + h3 {
        margin-top: 0;
    }
    p,
    li {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
    ul,
    ol {
        padding-left: 2rem;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
}

@media screen and (min-width: 768px) {
    main.job-page {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.125rem;
        }
        p,
        li {
            font-size: 1rem;
        }
    }
}
