---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const faq = [
  {
    question: "1. Compréhension des besoins",
    answer:
      "Rencontre et écoute active pour comprendre l’organisation et des besoins.",
  },
  {
    question: "2. Analyse et planification",
    answer:
      "Analyse approfondie des besoins, planification détaillée du projet.",
  },
  {
    question: "3. Développement et implémentation",
    answer:
      "Développement et suivi selon les meilleures pratiques, adaptée à l'agilité du client.",
  },
  {
    question: "4. Test et validation",
    answer: "Tests rigoureux pour assurer la qualité et la fiabilité.",
  },
  {
    question: "5. Déploiement et intégration",
    answer:
      "Déploiement dans l'environnement de production, intégration avec les systèmes existants.",
  },
  {
    question: "6. Maintenance et support",
    answer:
      "Services de maintenance et de support pour assurer le bon fonctionnement continu.",
  },
  {
    question: "7. Evaluation et amélioration",
    answer: "Évaluation post-projet pour identifier les améliorations.",
  },
];
---

<div class="mt-24 font-bold">
  <h2 class="text-2xl lg:text-3xl xl:text-5xl mt-4 [text-wrap:balance]">
    Notre processus
  </h2>
  <p class="mt-4 [text-wrap:balance] text-xl lg:text-2xl xl:text-4xl font-bold">
    Nous avons développé {" "}<span class="text-matouSecondary"
      >une technique d’approche en 7 étapes</span
    >
    {" "}pour répondre aux besoins de nos clients.
  </p>
</div>

<div class="grid divide-y divide-neutral-200 max-w-xxl mx-auto mt-8">
  {
    faq.map((item) => (
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> {item.question}</span>
            <span class="transition group-open:rotate-180">
              <ArrowIcon />
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            {item.answer}
          </p>
        </details>
      </div>
    ))
  }
</div>
