---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const { margin } = Astro.props;

const footermenu = {
  info: [
    {
      title: "Accueil",
      path: "/",
    },
    {
      title: "Politique de confidentialité",
      path: "/politique-de-confidentialite",
    },
    {
      title: "Mentions légales",
      path: "/mentions-legales",
    },
    {
      title: "Recrutement",
      path: "/recrutement",
    },
  ],
};
---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="sm:col-span-2">
        <a href="/" class="text-lg inline-block">
          <Icon name="logo-matou" class="h-20 w-40" />
        </a>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href="https://www.linkedin.com/company/matou-technologies/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Info</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.info.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-matouPrimary">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} Matou Technologies. All rights reserved.
      </p>
    </Container>
  </div>
</footer>
