---
import { Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Link from "@components/ui/link.astro";
import Container from "@components/container.astro";
---

<div class="max-w-screen-xl mx-auto px-5 mt-10">
  <main class="grid lg:grid-cols-5 place-items-center relative">
    <div
      class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
    </div>
    <div
      class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
    </div>

    <div class="max-w-sm md:max-w-max lg:col-span-2">
      <h1
        class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start text-matouSecondary">
        Nous sommes les Matous.<br />
        <span class="font-bold text-matouPrimaryDark01"
          >Agence Technologique.</span
        >
      </h1>
    </div>
    <div class="py-3 lg:col-span-3 lg:-mr-44">
      <Picture
        src={heroImage}
        alt="Matou technologies - Agence technologique"
        formats={["avif", "webp"]}
        sizes="(max-width: 1024px) 100vw, 50vw"
        widths={[240, 540, 720, heroImage.width]}
        loading="eager"
        fetchpriority="high"
        class="rounded-lg shadow-lg"
      />
    </div>
  </main>
</div>
