---
import { Picture } from "astro:assets";
import FeatureImg1 from "../assets/features/6.png";
---

<div id="mission" class="grid md:grid-cols-2">
  <div class="grid place-items-center">
    <Picture
      src={FeatureImg1}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
      class="rounded-lg shadow-lg w-10/12 h-8/12"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h2
        class="text-2xl lg:text-3xl xl:text-5xl font-bold mt-4 [text-wrap:balance]">
        Notre Mission
      </h2>
      <p
        class="mt-4 [text-wrap:balance] text-xl lg:text-2xl xl:text-4xl font-bold">
        Vous faire ronronner avec des solutions informatiques innovantes, <span
          class="text-matouSecondary">fiables et sur mesure</span
        >.
      </p>
      <br />
      <p class="leading-loose">
        Les Matous s’engagent à offrir des services de qualité supérieure, à
        promouvoir l'excellence technologique et à établir des partenariats
        solides basés sur la confiance et la collaboration. Notre objectif est
        d'être le partenaire privilégié de nos clients dans leur transformation
        numérique, en offrant des solutions à forte valeur ajoutée, qui
        stimulent croissance et réussite sur le long terme.
      </p>
    </div>
  </div>
</div>
